/*
Ral 5018 : #21888F
Ral 7036 : #9A9697 : rgba(5,139,140,1)
*/

.App{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 100vw;
  height: 100vh;
  padding: 10px;
  color: black;
  font-family: "Georgia";
}

@media (min-width: 480px) {
    .App {
        background-image: url("../resources/Proposal_1712x1000.jpg");
    }
}

@media (max-width: 480px) {
    .App {
        background-image: url("../resources/Proposal_mob_480x856.jpg");
    }
}

/* --- nav --- */
nav{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  border-radius: 15px;
  background-color: rgba(0,0,0, .3);
  font-size: 20px;
  padding: 9px 10px;

  text-align: right;

  /*border-style: solid;
  border-color: blue;*/
}

nav .link{
    color: white;
    font-family: "Baskerville Old Face";
    padding: 12px 12px;
    text-decoration: none;
    width: 100px;

}

nav .link:hover {
    background-color: rgba(5,139,140,.5);
    color: white;
    font-family: "Baskerville Old Face";
    text-decoration: none;
}

/* --- end nav --- */

/* --- content --- */
.content{
  flex-direction: column;
  flex-wrap: nowrap;

  height: 96vh;
  padding: 0px 50px 0px 50px;
  overflow: auto;

  border-style: solid;
  border-color: yellow;
}

/* --- header --- */
header{
  text-align: center;

  /*border-style: solid;
  border-color: red;*/
}

header .logo{
  display: inline-block;
  /*padding: 20px 0px 40px 0px;

  /*border-style: solid;
  border-color: purple;*/
}
/* --- end header --- */

/* --- main --- */
.main{
  min-height: 700px;

  padding: 5px;
  font-family: "Baskerville Old Face";
  font-size: 30px;
  text-align: center;

  /*border-style: solid;
  border-color: green;*/
}

.main h1{
  font-size: 50px;
}
.main h2{
  font-size: 40px;
}
/* --- end main --- */

.info, .home, .rsvp{
  padding: 10px;
  color: white;
  font-family: "Baskerville Old Face";
  border-radius: 25px;
  background-color: rgba(0,0,0, .3);
}

#countable{
  border-radius: 50%;
  width: 115px;
  height: 110px;
  border: 3px solid;
  border-color: rgba(5,139,140)
}

.rsvp{
  padding: 20px;
  text-align: left;
}
.sendButton{
  text-align: right;
}

.rsvpFormInput{
  width: 400px;
  height: 300px;
}

.sendButton{
}

/* --- footer --- */
footer{
  color: white;
  font-family: "Baskerville Old Face";
  text-align: right;

  /*border-style: solid;
  border-color: red;*/
}
/* --- end footer --- */
/* --- end content --- */
